repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.13
  hooks:
    # Run the linter.
    - id: ruff-check
      args: ["--fix"]

    # Run the formatter.
    - id: ruff-format
- repo: local
  hooks:
    - id: generate-docs
      name: Generate docs
      entry: uv run python -m src.utils.docs_gen
      language: system
      pass_filenames: false
      files: ^src/