services:

  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth_service_app
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks: [auth_svc_network]

  postgres:
    image: postgres:18.1-alpine
    container_name: auth_svc_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    networks: [auth_svc_network]
    ports:
      - "127.0.0.1:5433:5432"

volumes:
  postgres_data:

networks:
  auth_svc_network:
    driver: bridge
